.login-bg {
    -fx-background-color: linear-gradient(to bottom right, #141E30, #243B55);
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #2f6094;
    -fx-border-width: 0px 0px 3px 0px;
}

.login-button {
    -fx-background-color: transparent;
    -fx-shape: "M 0 0 Q 0 50 50 50 L 0 50 Z";
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.simple-button {
    -fx-background-color: #1e90ff; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-padding: 8px 16px; /* Espacement intérieur */
    -fx-background-radius: 4px; /* Rayon des coins */
    -fx-border-radius: 4px; /* Rayon des coins du contour */
}

.simple-button:hover {
    -fx-background-color: #007acc; /* Couleur de fond au survol */
}
.sign_up {
    -fx-text-fill: white;
}
