.login-bg {
    -fx-background-color: linear-gradient(to bottom right, #141E30, #243B55);
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #2f6094;
    -fx-border-width: 0px 0px 3px 0px;
}

/* JavaFX CSS */
.button-91 {
    -fx-text-fill: #fff;
    -fx-padding: 15px 25px;
    -fx-background-color:#2f6094;
    -fx-background-radius: 14px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-width: 0;
    -fx-border-radius: 16px;
    -fx-cursor: hand;
    -fx-effect: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
}

.button-91:hover {
    -fx-background-color: #2f6094; /* Couleur de survol */
}

.button-91:pressed {
    -fx-background-color: #2f6094; /* Couleur lorsqu'appuyé */
}

.button-91:disabled {
    -fx-opacity: 0.5; /* Opacité pour désactivé */
}

.simple-button {
    -fx-background-color: #1e90ff; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-padding: 8px 16px; /* Espacement intérieur */
    -fx-background-radius: 4px; /* Rayon des coins */
    -fx-border-radius: 4px; /* Rayon des coins du contour */
}

.simple-button:hover {
    -fx-background-color: #007acc; /* Couleur de fond au survol */
}
.sign_up {
    -fx-text-fill: white;
}
.MG{
    -fx-text-fill: #141E30 ;
    -fx-cursor: hand;

}