/* styles.css */

/* Common styling for the entire application */
#AnchorPane {
    -fx-background-color: #f4f4f4;
}

#titleLabel {
    -fx-font-size: 24px;
    -fx-text-fill: #333333;
}

#continueButton {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

#continueButton:hover {
    -fx-background-color: #45a049; /* Darker Green */
}
