.root {
    -fx-background-color: #EAEEF4;
}

.side_ankerpane {
    -fx-background-color: linear-gradient(to bottom right, #141E30, #243B55);
    -fx-border-width: 2px;
    -fx-border-color: #004080;
    -fx-border-style: solid;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Georgia";
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0,0,0,1);
    -fx-text-alignment: left;
}

.nav-btn:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.nav-btn:pressed {
    -fx-background-color: #000;
    -fx-text-fill: #fff;
}

.button-add {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
}

.button-add:hover {
    -fx-background-color: #45a049;
}

.button-update {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
}

.button-update:hover {
    -fx-background-color: #1976D2;
}

.button-delete {
    -fx-background-color: #F44336;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
}

.button-delete:hover {
    -fx-background-color: #D32F2F;
}

.button-logout {
    -fx-background-color: #607D8B;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-border-radius: 50px;
}

.button-logout:hover {
    -fx-background-color: #546E7A;
}

.dach {
    -fx-background-color: linear-gradient(to bottom right, #141E30, #243B55);
}
