.button
{
    -fx-background-color : #d3d3d3 ;
    -fx-text-fill : #e7e5e5;
}
.button:hover{
    -fx-background-color : #10165F;
}
.button:pressed
{
    -fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #bfc1c2;
}
/* CSS */
.button-3 {
    -fx-background-color: #2ea44f;
    -fx-border-color: rgba(27, 31, 35, 0.15);
    -fx-border-radius: 6px;
    -fx-border-width: 1px;
    -fx-box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    -fx-color: #fff;
    -fx-cursor: hand;
    -fx-font-size: 12px; /* Modifier la taille de la police */
    -fx-font-weight: bold;
    -fx-padding: 4px 10px; /* Modifier le padding */
}

.button-3:hover {
    -fx-background-color: #2c974b;
}

.button-3:disabled {
    -fx-background-color: #94d3a2;
    -fx-border-color: rgba(27, 31, 35, 0.1);
    -fx-color: rgba(255, 255, 255, 0.8);
    -fx-cursor: default;
}

.button-3:pressed {
    -fx-background-color: #298e46;
    -fx-box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}


.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}
.button-green {
    -fx-background-color: #4CAF50; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-padding: 10px 20px; /* Espacement intérieur */
    -fx-border-radius: 5px; /* Rayon de la bordure */
    -fx-border-width: 2px; /* Épaisseur de la bordure */
    -fx-border-color: #388E3C; /* Couleur de la bordure */
}

.button-round {
    -fx-background-color: #008000; /* Couleur verte */
    -fx-text-fill: #FFFFFF; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-min-width: 50px; /* Largeur minimale */
    -fx-min-height: 50px; /* Hauteur minimale */
    -fx-max-width: 50px; /* Largeur maximale */
    -fx-max-height: 50px; /* Hauteur maximale */
    -fx-shape: "M25,25 L25,0 A25,25 0 0,1 50,25 Z"; /* Forme de cercle */
    -fx-cursor: hand; /* Curseur de type main */
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom right, #141E30, #243B55);
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #bfc1c2;
}
